*{
    box-sizing: border-box;
}
body {
    background-color: rgb(222, 215, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(0, 0, 0);
}
#container-mode{
    width: 560px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#container-input{
    display: flex;
    justify-content: flex-end;
}
#container-input input{
    width: 20%;
    height: auto;
}
#container-btn{
    display: flex;
    gap: 6px;

}
#container-grid{
    margin-top: 5px;
    height: 560px;
    width: 560px;
    background-color: white;
}